<div class="replacements">
  <div class="h-full overflow-auto rounded-md">
    <h1 class="title">Reposições</h1>
    <div>
      <p class="text-xl font-bold mb-3 md:text-lg">Total: {{total}} produtos</p>
      <ul class="grid gap-2 md:grid-cols-5" *ngIf="data?.length > 0; else elseBlock">
        <li 
          class="w-full flex flex-col gap-1 bg-slate-300 rounded-md p-2 text-lg md:text-base"
          *ngFor="let product of data"
        >
          <p>Produto: {{product.product}}</p>
          <p>Marca: {{product.brand}}</p>
        </li>
      </ul>
      <ng-template #elseBlock>
        <div class="flex justify-center items-center h-96 text-2xl text-slate-400 md:text-lg">Sem reposições</div>
       </ng-template>
    </div>
  </div>
</div>