<div class="bg-purple-900 h-screen flex items-center justify-center">

  <div class="bg-white md:w-2/6 h-1/2 rounded-md overflow-hidden">
    <nav class="w-full h-full">
      <ul class="w-full h-full p-5 md:p-0">
        <li class="h-1/2 w-full flex items-center justify-center cursor-pointer text-slate-700 hover:text-purple-900 hover:bg-slate-300 border-b-2 transition-all duration-300">
          <a class="text-3xl" routerLink="/login">Painel de controle</a>
        </li>
        <li class="h-1/2 w-full flex items-center justify-center cursor-pointer text-slate-700 hover:text-purple-900 hover:bg-slate-300 transition-all duration-300">
          <a class="text-3xl">Entrar em contato</a>
        </li>
      </ul>
    </nav>
  </div>

</div>